@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border-style: none;
    text-decoration: none;
    font-family: Jost;
    color: black;
}